.card {
    flex: 1 1 calc(33.333% - 20px); 
    min-width: 280px;
    padding: 20px 34px;
    box-shadow: 2px 6px 8px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;

    &:hover {
        transform: scale(1.03);
    }

    &.active {
        border: 2px solid green;
    }

    &:last-child {
        min-height: 262px;
    }

    &__title {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: rgba(118, 118, 118, 1);
        
        &-status {
            font-size: 14px;
            text-transform: capitalize;

            &_text.alive {
                color: green;
                font-weight: 700;
            }

            &_text.dead {
                color: red;
                font-weight: 700;
            }

            &_text.unknown {
                color: gray;
                font-weight: 700;
            }
        }

        &-created {
            font-size: 14px;
        }
    }
}
