@font-face {
  font-family: 'Fira Sans';
  src: url('../public/fonts/fira-sans-regular.woff2') format('woff2'),
       url('../public/fonts/fira-sans-regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/montserrat-regular.woff2') format('woff2'),
       url('../public/fonts/montserrat-regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  max-width: 1920px;
  width: 100%;
  padding: 20px;
}
